################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.lock
/.vs/TestKeyboard/v16/Server/sqlite3/storage.ide
/.vs/TestKeyboard/v16/Server/sqlite3
/.vs/TestKeyboard/v16/.suo
/TestKeyboard/obj/Debug
